* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-box {
  background-color: hotpink;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-box > div:first-child {
  margin-right: auto;
}

.header-box > div {
flex-basis: 140px;
height: 70px;
margin: 0 10px;
background-color: pink;
}

main {
  background-color: lightgreen;
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.main-box {
  max-width: 700px;
  background-color: green;
  padding: 20px;
  display: flex;
  flex-grow:1;
  flex-wrap: wrap;
}

.main-box > div {
  flex-basis: 200px;
  margin: 10px;
  height: 130px;
  background-color: yellow;
}

.footer-box {
  width: 100%;
  padding: 20px;
  background-color: rgb(68, 111, 203);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box > div {
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
  background-color: skyblue;
}